*********** Default Css ***********
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff !important;
  color: #000000 !important; */
  font-family: 'Centra', sans-serif !important;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
} */

img {
  width: 100%;
  height: auto;
}

.worldImg {
  width: 90%;
  height: 150%;
  background-position: center;
  opacity: 65%;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

@media (max-width:600px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
    text-size-adjust: 50%;
	}
}

.container {
  text-align: center;
  color: rgb(0, 0, 0);
}

.doubleSpace {
  padding-top: 40px;
}

.doubleSpace1 {
  padding-top: 40px;
  padding-bottom: 25px;
}

.centered1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
  padding-top: 40px;
}

.centered2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
  padding-top: 40px;
}

.centered3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
  padding-top: 40px;
}

.footer {
  align-items: center;
  padding-bottom: 20px;
  padding-top: 1ch;
}

.www {
  color: rgba(30, 108, 147, 1);
  font-size: 30px;
  font-weight: 550;
}

.info {
  color: rgba(30, 108, 147, 1);
  font-size: 30px;
}
.blueRow {
  background-color: rgba(30, 108, 147, 1);
  font-size: 20px;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}

.contact {
  background-color: #e8eaeb;
  border-radius: 10px;
}
.moreInfo {
  color: #004aad;
  font-size: 23px;
  font-weight: bold;
}

.contactInfo {
  color: #004aad;
  font-size: 20px;
  font-weight: 600;
}

.email {
  color: #144d5e;
  text-decoration: underline;
}

ul {
  list-style-type:circle
}

.center1 {
  text-shadow: 2px 2px 2px #000000;   
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
}

.center2 {
  text-shadow: 2px 2px 2px #000000;   
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
}

.center3 {
  text-shadow: 2px 2px 2px #000000;   
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
}

.c2 {
  /* text-shadow: 2px 2px 2px #000000;    */
  color: #000000;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
}

.exTitle {
  background-color:#e8eaeb;
  color: rgba(30, 108, 147, 1);
  font-weight: 750;
  font-size: 20px;
  border-radius: 10px;
}

.rows {
  background-color: rgba(30, 108, 147, 1);
  color: #ffffff;
  border-radius: 10px;
}

.rows1 {
  background-color: rgb(123, 179, 207);
  color: #ffffff;
  border-radius: 10px;
}

.descriptionTitle {
  color: rgba(30, 108, 147, 1);
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.description {
  text-align: left;
  color: rgba(30, 108, 147, 1);
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.moveLeft {
  padding-left: 10px;
}